.mat-toolbar {
    background: linear-gradient(to left,  #e66465, #9198e5);
    margin-block-end: auto;
    margin-block-start: auto;
}

.mat-button {
    margin-inline-start: 60px;
    font-size: x-large;
}

.example-card {
    margin-block-start: 25px;
    max-width: 400px;
    margin-inline-start: 480px;

}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
  