.mat-toolbar {
    background: linear-gradient(to left,  #00ff77, #003EFF);
    margin-block-end: auto;
    margin-block-start: auto;
    color: white;
    box-shadow: 1px 2px #bc57fa;
    padding: 10px;
}

.mat-icon {
    margin-bottom: 3px;
}

.mat-button {
    margin-inline-start: 60px;
    font-size: x-large;
    color: rgb(214, 89, 214);
}

.mat-button:hover {
    opacity: 80%;
}

.example-form-field {
    height: 10px;
    block-size: 65px;
    margin-inline-start: 800px;
    color: #bc57fa;
}

.example-card {
    margin-block-start: 25px;
    max-width: 400px;
    margin-inline-start: 480px;

}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

div{
    background-color: #F3EDDE;
}
