<div *ngIf = "posts" >

<mat-card class="example-card" >

        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
              <img mat-card-image class = "iconUrl" [src]="posts.iconUrl" alt="Photo of a Shiba Inu" >
          </div>
          <mat-card-title>{{posts.username}}</mat-card-title>
          <mat-card-subtitle>Earth C-137</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image [src]="posts.imageUrl" alt="Photo of a Shiba Inu">

        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>

        <mat-card-content>
          <p *ngIf = "posts.description">
            <em>
            {{posts.username}}: 
            </em>
            {{posts.description}}
          </p>

          <form class="example-form">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>
          </form>
      
        </mat-card-content>

 </mat-card>

</div>
